
<script src="/js/Fornecedor/alterar.js"></script>
<div>
    <h1>Alterar fornecedor</h1>

    <div>
        <div class="form-group">
            <input id="fornecedorCodigo" type="hidden" value="<%= fornecedor.fornId%>"/>
            <label for="fornecedorNome">Nome:</label>
            <input value="<%= fornecedor.fornNome %>" class="form-control" type="text" id="fornecedorNome" />

            <label for="fornecedorCnpj">Cnpj:</label>
            <input value="<%= fornecedor.fornCnpj %>" class="form-control" type="text" id="fornecedorCnpj" maxlength="20" />

            <label for="fornecedorEmail">Email:</label>
            <input value="<%= fornecedor.fornEmail %>"  class="form-control" type="email" id="fornecedorEmail" maxlength="50" />

            <label for="fornecedorTelefone">Telefone:</label>
            <input value="<%= fornecedor.fornTelefone %>" class="form-control" type="text" id="fornecedorTelefone" maxlength="50" />

            <label for="fornecedorEndereco">Endereço:</label>
            <input value="<%= fornecedor.fornEndereco %>" class="form-control" type="text" id="fornecedorEndereco" maxlength="50" />

            <label for="fornecedorCep">Cep:</label>
            <input value="<%= fornecedor.fornCep %>" class="form-control" type="text" id="fornecedorCep" maxlength="50" />

        </div>

        <div>
            <button id="btnAlterar" class="btn btn-primary">Alterar</button>
            <a class="btn btn-secondary" href="/fornecedor">Voltar</a>
        </div>
    </div>
</div>